#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container-title {
  display: flex;  
  align-items: baseline;
}

.title, .new-notes-title {
  margin: 5px;
}

.btn-refresh, .notes-btn, .new-notes-add {
  width: 26px;
  height: 26px;
  box-sizing: content-box;
  margin: 5px;
  padding: 5px;
  border: #000000 1px solid;
  border-radius: 50%;
}

.content-notes {
  display: flex;  
  flex-flow: row wrap;
  background-color: #fdfaf2;
}

.notes {
  position: relative;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color:aliceblue;
  width: auto;
  max-width: 300px;
  height: auto;
  margin: 10px;
}

.notes-text {
  padding: 10px;
}

.notes-btn {
  position: absolute;
  top: -10px;
  right: -25px;
}

.new-notes-title {
  margin-left: 5px;
  margin-right: auto;
  font-weight: bold;
}

.form {
  position: relative;
  display: flex;  
  flex-direction: column;
}


.new-notes-add {
  position: absolute;
  bottom: -25px;
  left: 0px;
}